@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8fafc;
  --accent-color: #000000;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--bg-primary);
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.font-chewy {
  font-family: 'Chewy', system-ui;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
}

* {
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
