.avatar-container {
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--slate-50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid var(--slate-100);
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-initials {
    font-weight: 900;
    color: var(--slate-400);
    text-transform: uppercase;
}